# Ignore everything by default
*

# Keep ignore rules file itself
!.gitignore

# Keep README
!README*
!Readme*

# Keep packaging/dependency metadata
!pyproject.toml

# Keep core project folders
!configs/
!configs/**
!scripts/
!scripts/**
!src/
!src/**

